<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <style>

        

        .card{
            background-color: rgb(56, 0, 117);
            color: white;
            border-radius: 30px;
            padding: 10px;
            border:  5px solid  rgb(150, 53, 255);
        
        }
        .OTP{
            color: red;
        }
      

  
    </style>
</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>


    <div class="container  w-100 d-flex justify-content-center " id="Box" >
    

        <div class="card mb-3" style="max-width: 1040px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/public/images/BIG_LOGO.png" class="img-fluid rounded-start" alt="ProParts">
              </div>
              <div class="col-md-8">
                <div class="card-body ">
                  <h1 class="h1">ProParts</h1>
                  <p class="card-text"><small >"Driving Perfection"</small></p>
                  <p class="card-text">Dear [User's Name], <br>
                    We received a request to reset your password for your ProPartss account. To ensure the security of your account, we are providing you with a One-Time Password (OTP) that you can use to reset your password.
                     <br>
                   <h2 class="text-break"  > Your OTP is: <span class="OTP">45453</span></h2>
                    <br>
                   <br><br>
                    Thank you for using ProParts!
                    <br><br>
                    Best regards,
                    The ProParts Team
                </p>
                </div>
              </div>
            </div>
          </div>
    </div>







  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  
</body>

</html>